<h1><%= @destination.name %></h1>
<h3>Top posts:</h3>
<ol>
    <% @destination.recent_posts.each do |post| %>
        <li> <%= link_to post.title, post_path(post) %> </li>
    <% end %>
</ol>
<p>
    Featured post: 
    <%= link_to  @destination.featured_post.title, post_path(@destination.featured_post) %>
</p>
<p> Average age of visitors: <%= @destination.average_age%> </p>
